In [1]:
import datetime

In [2]:
names= 'raman'

# I have date related data: year-month-day

To store in date related format, then we can use datetime.date() method

In [3]:
datetime.date(2019,8,23)

datetime.date(2019, 8, 23)

In [4]:
d1 = datetime.date(2025,12,30)

In [5]:
d1

datetime.date(2025, 12, 30)

In [6]:
d1.year

2025

In [7]:
d1.month

12

In [8]:
d1.day

30

# I have date related data and time related data: year-month-day hour-minutes-seconds

To store in date related format, then we can use datetime.datetime()

In [9]:
datetime.datetime(2019,3,23,9,46,50)

datetime.datetime(2019, 3, 23, 9, 46, 50)

In [10]:
dt1 = datetime.datetime.now()

In [11]:
dt1

datetime.datetime(2025, 10, 30, 10, 19, 36, 106169)

In [12]:
dt1.year

2025

In [13]:
dt1.hour

10

In [14]:
dt1.second

36

In [15]:
dt1.minute

19

# I have time related data: hour-minute-sec

To store in date related format,then we can use datetime.time()

In [16]:
#datetime.time(hour,minutes,seconds,microseconds)
datetime.time(9,47,50,35000)

datetime.time(9, 47, 50, 35000)

# Dateframes/datasets

In [17]:
import pandas as pd

In [18]:
st1 = "2019-09-13"

In [19]:
st1

'2019-09-13'

In [20]:
pd.to_datetime(st1)

Timestamp('2019-09-13 00:00:00')

In [21]:
st1_d = pd.to_datetime(st1)

In [22]:
st1_d.year

2019

In [23]:
st1_d.date()

datetime.date(2019, 9, 13)

In [24]:
st1_d.month

9

In [25]:
st1_d.hour

0

In [26]:
st1_d.minute

0

In [28]:
path = r"C:\Users\Admin\Desktop\Sample Superstore.xlsx"
df = pd.read_excel(path)
df.head()

c:\Users\Admin\anaconda3\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   City           9994 non-null   object
 9   State          9994 non-null   object
 10  Postal Code    9983 non-null   float64
 11  Region         9994 non-null   object
 12  Product ID     9994 non-null   object
 13  Category       9994 non-null   object
 14  Sub-Category   9994 non-null   object
 15  Product Name   9994 non-null   object
 16  Sales          9994 non-null   float64
 17  Quantity       9994 non-null   int64
 18  Discount       9994 non-null   float64
 19  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(4), int64(2), object(12)
memory usage: 1.5+ MB

In [30]:
df['Order Date'] = pd.to_datetime(df['Order Date'])

In [31]:
path2 = r"D:\Master in Data Science class\Project Documents\Dataset for project.csv"
df2 = pd.read_csv(path2)
df2.head()

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration
0,1.0,22:24:17,23:27:16,1845,american,1.0,4,3441,4,557,1239,33.0,14.0,21.0,446,861.0
1,2.0,21:49:25,22:56:29,5477,mexican,2.0,1,1900,1,1400,1400,1.0,2.0,2.0,446,690.0
2,3.0,20:39:28,21:09:09,5477,NaN,1.0,1,1900,1,1900,1900,1.0,0.0,0.0,446,690.0
3,3.0,21:21:45,22:13:00,5477,NaN,1.0,6,6900,5,600,1800,1.0,1.0,2.0,446,289.0
4,3.0,02:40:36,03:20:26,5477,NaN,1.0,3,3900,3,1100,1600,6.0,6.0,9.0,446,650.0

In [32]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197428 entries, 0 to 197427
Data columns (total 16 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   market_id                                     196441 non-null  float64
 1   created_at                                    197428 non-null  object
 2   actual_delivery_time                          197421 non-null  object
 3   store_id                                      197428 non-null  int64
 4   store_primary_category                        192668 non-null  object
 5   order_protocol                                196433 non-null  float64
 6   total_items                                   197428 non-null  int64
 7   subtotal                                      197428 non-null  int64
 8   num_distinct_items                            197428 non-null  int64
 9   min_item_price                                197428 non-null  int64
 10  max_item_price                                197428 non-null  int64
 11  total_onshift_dashers                         181166 non-null  float64
 12  total_busy_dashers                            181166 non-null  float64
 13  total_outstanding_orders                      181166 non-null  float64
 14  estimated_order_place_duration                197428 non-null  int64
 15  estimated_store_to_consumer_driving_duration  196902 non-null  float64
dtypes: float64(6), int64(7), object(3)
memory usage: 24.1+ MB

In [33]:
df2['created_at'] = pd.to_datetime(df2['created_at'])
df2['actual_delivery_time'] = pd.to_datetime(df2['actual_delivery_time'])

C:\Users\Admin\AppData\Local\Temp\ipykernel_24196\4251237669.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df2['created_at'] = pd.to_datetime(df2['created_at'])
C:\Users\Admin\AppData\Local\Temp\ipykernel_24196\4251237669.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df2['actual_delivery_time'] = pd.to_datetime(df2['actual_delivery_time'])

In [34]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197428 entries, 0 to 197427
Data columns (total 16 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   market_id                                     196441 non-null  float64
 1   created_at                                    197428 non-null  datetime64[ns]
 2   actual_delivery_time                          197421 non-null  datetime64[ns]
 3   store_id                                      197428 non-null  int64
 4   store_primary_category                        192668 non-null  object
 5   order_protocol                                196433 non-null  float64
 6   total_items                                   197428 non-null  int64
 7   subtotal                                      197428 non-null  int64
 8   num_distinct_items                            197428 non-null  int64
 9   min_item_price                                197428 non-null  int64
 10  max_item_price                                197428 non-null  int64
 11  total_onshift_dashers                         181166 non-null  float64
 12  total_busy_dashers                            181166 non-null  float64
 13  total_outstanding_orders                      181166 non-null  float64
 14  estimated_order_place_duration                197428 non-null  int64
 15  estimated_store_to_consumer_driving_duration  196902 non-null  float64
dtypes: datetime64[ns](2), float64(6), int64(7), object(1)
memory usage: 24.1+ MB

In [35]:
df2['created_at']

0        2025-10-30 22:24:17
1        2025-10-30 21:49:25
2        2025-10-30 20:39:28
3        2025-10-30 21:21:45
4        2025-10-30 02:40:36
                 ...
197423   2025-10-30 00:19:41
197424   2025-10-30 00:01:59
197425   2025-10-30 04:46:08
197426   2025-10-30 18:18:15
197427   2025-10-30 19:24:33
Name: created_at, Length: 197428, dtype: datetime64[ns]

In [36]:
df2['created_at'].dt.year

0         2025
1         2025
2         2025
3         2025
4         2025
          ...
197423    2025
197424    2025
197425    2025
197426    2025
197427    2025
Name: created_at, Length: 197428, dtype: int32

In [37]:
df2['created_at'].dt.minute

0         24
1         49
2         39
3         21
4         40
          ..
197423    19
197424     1
197425    46
197426    18
197427    24
Name: created_at, Length: 197428, dtype: int32

In [38]:
df2['created_at'].dt.hour

0         22
1         21
2         20
3         21
4          2
          ..
197423     0
197424     0
197425     4
197426    18
197427    19
Name: created_at, Length: 197428, dtype: int32

In [39]:
df2['created_at'].dt.second

0         17
1         25
2         28
3         45
4         36
          ..
197423    41
197424    59
197425     8
197426    15
197427    33
Name: created_at, Length: 197428, dtype: int32

In [42]:
#difference of these columns result in delivery duration
df2['delivery_duration'] = df2['actual_delivery_time'] - df2['created_at']

In [43]:
df2['delivery_duration'].dtype

dtype('<m8[ns]')

In [45]:
# difference of these columns result in delivery duration and showcase in numeric form
df2['delivery_duration_2'] = (df2['actual_delivery_time'] - df2['created_at']).dt.total_seconds()
df2['delivery_duration_2']

0         3779.0
1         4024.0
2         1781.0
3         3075.0
4         2390.0
           ...
197423    3907.0
197424    3383.0
197425    3008.0
197426    3907.0
197427    2228.0
Name: delivery_duration_2, Length: 197428, dtype: float64

In [46]:
# difference of these columns result in delivery and showcase in numeric form
df2['delivery_duration_2'] = (df2['actual_delivery_time'] - df2['created_at'])
df2['delivery_duration_2'] = pd.to_timedelta(df2['delivery_duration_2'])
df2['delivery_duration_2']

0        0 days 01:02:59
1        0 days 01:07:04
2        0 days 00:29:41
3        0 days 00:51:15
4        0 days 00:39:50
               ...
197423   0 days 01:05:07
197424   0 days 00:56:23
197425   0 days 00:50:08
197426   0 days 01:05:07
197427   0 days 00:37:08
Name: delivery_duration_2, Length: 197428, dtype: timedelta64[ns]

In [47]:
df2['created_at'] = df2['created_at'].fillna(method='ffill')

C:\Users\Admin\AppData\Local\Temp\ipykernel_24196\2378858314.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df2['created_at'] = df2['created_at'].fillna(method='ffill')

xpre: cat, con data preprocessed, cleaned
xpre- is missing date related columns
xpre['created_at'] = df2['created_at'] 
xpre['actual_delivery_time'] = df2['actual_delivery_time']